
<center>

    <h1>EDIT</h1>

<form action="/submit/{{data._id}}" method="POST">
    <label>Your Task To Do :</label>
    <input type="text" placeholder="ENTER TASK HERE" name="task" value="{{data.task}}">
    
    <input type="submit" value="UPDATE">
</form>

</center>